<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Bootstrap stuff -->
    {% load staticfiles %}
    {% load static %}

{# JQuery? #}
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<!--
<script src="{% static 's/jquery-1.11.1.js' %}"></script>
<script src="{% static 'js/rango-jquery.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
-->

{# angluar #}
<!--
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
-->
{# AOS #}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


{# Pace, loading #}
<!--
script src="{% static 'pace/pace.js' %}">/script>
link href="{% static 'pace/themes/white/pace-theme-flash.css' %}" rel="stylesheet" />
-->

{# bootstrap #}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- Responsive meta tag -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


    {% block extra_styles %}
    <style type="text/css">

      body{
        color: black;
        background: #343a40;
        /*
    }
background: #f46b45;  /* fallback for old browsers 
background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }

    </style>
    {% endblock %}
		{% block head %}
		<title>Base</title>
		{% endblock %}
	</head>
	{% block body-tag %}<body>{% endblock %}

{% block navbar %}


<nav
id="navBar" 
style="display: none;"
class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
<a class="navbar-brand mr-auto mr-lg-0" href="{% url 'home:home_page' %}"><strong>#DiversityFIRST</strong></a>

<!--
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="navbar-nav">
<a class="nav-item nav-link" href="#">Template Creator<span class="sr-only"></span></a>

     Extra labels
    <a class="nav-item nav-link" href="#">Home</a>
     <a class="nav-item nav-link" href="#">About Us</a>

</div>
</div>
-->
</nav>


</body>
{% endblock %}
<br><br>
			{% block body %}
			{% endblock %}
<!-- {% block footer %}
<footer class="footer" style="background-color: ghostwhite">
      <div class="container-fluid">
        <span class="text-muted">A website for the ease of scouting.</span>
      </div>
    </footer>
    {% endblock %} -->

<script>
  AOS.init();
</script>



				<!-- jQuery first, then Tether, then Bootstrap JS. -->
				<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	</body>
</html>