
            @page{
                size: a4 landscape;
                padding: 0;
            }
             body {
                 font-weight: 200;
             }
             .container{
                position: relative;
                line-height: 100px;
                height: 100%;
                padding: 0px 0px 0px 35px;  

             }
             #footer {
                    position: absolute;
                    bottom: 0;
                    padding-bottom: 122.5px;
                    padding-right: 0 !important;
                    padding-left: 945px;
                    height: 70px;
                    width: 70px; 
             }
             .title {
                font-family: 'Verdana','Times New Roman', sans-serif;
                 font-size: 56px;
                 font-weight: 900 !important;
                 font-style: italic;

                text-align: left;
             }

             .details {
                font-size: 49px;
                position: absolute;
                top: 150px;
                 word-break: keep-all;

                font-family: 'Lucida Calligraphy','Freestyle Script';
                text-shadow: 3px 3px 3px #fff;
                text-align: left !important;
                padding-right: 210px;
                padding-top: -350px;
                 /*margin-left: 40%;*/
             }

             .Diversity
             {
                color: orange;
             }
             #logo{
                padding-bottom: 7px;
                height: 245px;
                width: 245px;
             }
