{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>DiversityFIRST - Home</title>
<style type="text/css">

#header_block{

	background-color: #343a40;
	text-align: center; 
}
#header_img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4vh;
	height: auto;
	width: 50vw;



}

.hbr{
	display: block;
	font-size: 50vh;
}

#Welcome_Mission{
	text-align: center;
	background: orange;
}

#mission_txt{
	text-align: center;
	margin-right: 8vw;
	margin-left: 8vw;
}

</style>
{% endblock %}

{% block body %}
<img id="header_img" src="{% static 'img/dark_logo2.png' %}">
<div id="header_block">
<h1><font color="white"><strong>Be part of the movement</strong></font></h1>
<br>
</div>

{# The Mission #}
<div class="container-fluid" id="Welcome_Mission">
<br>
<h2><strong>The Mission:</strong></h2>
<h3 id="mission_txt">#DiversityFIRST is an @ftcbeast12990 initiative, launched in 2018, to showcase the diversity of FIRST participants in teams across the world!</h3>
<br>
<br>
{# template creator #}
<h2><strong>Get Involved!</strong></h2>
{% include 'home/template-creator.html' with form=form %}
</div>






<script type="text/javascript">
$(window).scroll(function(){
    var scrollTop = $(window).scrollTop();
    
    if(scrollTop > 230) {
        $('#voice3').addClass('blue')
    } else {
    	  $('#voice3').removeClass('blue')
    }
})
</script>

{% endblock %}