<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
     <head>
         <title>#Diversity FIRST Poster</title>


     </head>
     <body>
            <div class='container'>
                 <strong><h1 class='title'>We put <font color="orange">#DiversityFIRST</font>  by...</h1></strong>
             <h2 class='details'>{{ message }}</h2> 
             </div>
     </div>
         <div id="footer">
            <div style="float: right !important;">
                {% include 'base64/#diversity_logo.html' %}
        </div>

     </body>
 </html>