

    .preview{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    position: relative;
    line-height: 100px;
    padding: 7px 0 0 3.5px;  

    }



    .predetails {
    font-size: 49px;
    position: absolute;
    top: 210px;
    word-break: keep-all;

    font-family: 'Lucida Calligraphy','Freestyle Script';
    text-shadow: 3px 3px 3px #fff;
    text-align: left !important;
    padding-right: 210px;
    padding-top: -350px;
    /*margin-left: 40%;*/
    }

    .Diversity
    {
    color: orange;
    }
