            .box{
                position: relative;
                width: 100%;
                padding-top: 70.71%;

            }

             .preview{
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: white;
                border: 1px solid black;
                position: absolute;
                line-height: 10%;
                padding: 0.7% 0 0 3.5%;  

             }
             #footer {
                    position: absolute;
                    bottom: 0;
                    padding-bottom: 12.25%;
                    padding-right: 0 !important;
                    padding-left: 94.5%;
                    height: 7.0%;
                    width: 7.0%; 
             }
             .pretitle {
                font-family: 'Verdana','Times New Roman', sans-serif;
                 font-size: 150%;
                 font-weight: 900 !important;
                 font-style: italic;

                text-align: left;
             }

             .details {
                font-size: 132%;
                position: absolute;
                top: 21%;
                 word-break: keep-all;

                font-family: 'Lucida Calligraphy','Freestyle Script';
                text-shadow: 0.3% 0.3% 0.3% #fff;
                text-align: left !important;
                padding-right: 21%;
                padding-top: -35%;
                 /*margin-left: 40%;*/
             }

             .Diversity
             {
                color: orange;
             }
             #logo{
                padding-bottom: 0.7%;
                height: 24.5%;
                width: 24.5%;
             }
